.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    animation: fadein 1s ease-in forwards;
    opacity: 0;
}

.imgBox{
    width: 50vw;
    height: 100vh;
}

.img{
    width: 100%;
    height: 100%
}

.body{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box{
    width: 320px;
    height: 220px;
    display: flex;
    flex-direction: column;
}

.body_p {
    font-size: 30px;
    font-weight: bold;
    color: #212529;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.errBox{
    height: 100px;
}

.err {
    color: red;
    margin-top: 10px;
}

@keyframes fadein {
    to{
        opacity: 1;
    }
}